{% extends "base.html" %}
{% block body %}
{% from "helper/formhelpers.html" import render_input_field, render_radio_field %}

<div class="container">

   <form action="{{ url_for('account.default_login') }}"  method=post class="form-signin">
      {{form.hidden_tag()}}
      <h3 class="form-signin-heading">Log in</h3>
      {{ render_input_field(form.user_name, "User name") }}
      {{ render_input_field(form.password, "Password", "password") }}
      
      <label class="checkbox">
      <input id="remember_me" name="remember_me" type="checkbox" value="y">Remember me
      </label>
      
      <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
   </form>
   
   <form action="{{ url_for('account.fb_login') }}"  method=post class="form-signin">
      
      <h3>or</h3>
      <hr>
      {{form.hidden_tag()}}
      <button class="btn btn-lg btn-primary btn-block" type="submit">Log in with Facebook</button>
   </form>
   

</div> <!-- /container -->

{% endblock %}
