{% extends "base.html" %}
{% block body %}
{% from "helper/formhelpers.html" import render_input_field, render_radio_field %}

<div class="container">

   <form action="{{ url_for('account.login') }}"  method=post class="form-signin">
      {{form.hidden_tag()}}
      <h2 class="form-signin-heading">Please sign in</h2>
      {{ render_input_field(form.user_name, "User name") }}
      {{ render_input_field(form.password, "Password", "password") }}
      
      <label class="checkbox">
      <input id="remember_me" name="remember_me" type="checkbox" value="y">Remember me
      </label>
      
      <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
   </form>
	

</div> <!-- /container -->

{% endblock %}
