{% extends "base.html" %}
{% block body %}
{% from "helper/formhelpers.html" import render_input_field%}

<link rel="stylesheet" href="{{ url_for('static', filename='script/vendors/fullcalendar/1.6.4/fullcalendar.css') }}">

<div class="container">
   <div class="col-md-3">

   </div>
   
   <div id="right_col" class="col-md-9">
      <div class="row">
         
      </div>
      <div id='calendar'></div>
      
	</div>
</div>

<script src="/static/script/vendors/require.js"></script>

<script type="text/javascript">
   var COMMUNITY_ID = '{{community.id}}';
   require(['/static/script/common.js'], function (common) {
      require(['/static/script/app/calendar/calendarView.js'],function(calendar){
         new calendar({communityId: COMMUNITY_ID});
      });
   });
</script>

{% endblock %}