{% extends "base.html" %}
{% block body %}
{% from "helper/formhelpers.html" import render_input_field%}

<div class="container">

   <div class="jumbotron" style="padding:10px;">
      <h2>{{community.name}} ({{community.num_members}} members)</h2>
      <p class="lead">{{community.description}}</p>
   </div>

   <div class="row">
      <div class="col-md-4">
         This is the side
      </div>

      <div class="col-md-8">
         <div class="col-md-9" id="wall">
            <div>
               <form id="create_form" action="{{ url_for('wall.new_post', c_id=community.id) }}"  method=post>
                  {{ render_input_field(postForm.body, "What's up") }}
                  <button id="create_post" class="btn btn-primary" type="button">Post</button>
               </form>

               <hr>
            </div>


            <div id="wall_content">

            </div>

         </div>


      </div>
   </div>

</div>
<script id="post-template" type="text/x-handlebars-template">
{% raw %}
   <div class="post well well-sm" id="{{id}}">
      <div class="post_head">

         <div class="user_avatar pull-left" >

         </div>
         <div class="post_meta pull-right" >
            <div class="post_user">{{user.first_name}} {{user.last_name}}</div>
            <div class="post_time" title="{{created}}"></div>
         </div>
      </div>
      <div class="post_content">
         {{body}}
      </div>

      <div class="post_action">
         Like . Comment . Share
      </div>
      <div class="comments_container">

         {{> comments this.comments}}
         <div class="comment_action">
            <form id="comment_form" action="{{action.comment}}"  method=post>

{% endraw %}
               {{ render_input_field(commentForm.body, "Write a comment") }}
               <button id="comment_post" class="btn btn-primary" type="button">Comment</button>
            </form>
         </div>

      </div>

   </div>

</script>
<script id="comments-partial" type="text/x-handlebars-template">
{% raw %}
<ul class="comments_list">
   {{#each this}}
   <li>
      <div class="post_comment">
         <div class="user_avatar" >
         </div>
         <div class="comment_body">
            <div class="user_name">{{user.first_name}} {{user.last_name}}</div>
            <div class="comment_content">
               {{body}}
            </div>
            <div class="meta">
               <span class="comment_time" title="{{created}}"></span>·       Like
            </div>
         </div>
      </div>
   </li>
   {{/each}}
</ul>

{% endraw %}
</script>



<script type=text/javascript>

var source   = $("#post-template").html();
var postTemplate = Handlebars.compile(source);
Handlebars.registerPartial("comments", $("#comments-partial").html());

function update_wall(){
   $.get('{{ url_for('wall.posts', c_id=community.id) }}')
      .done(function(result){
         if(result.success){
         console.log(result.data);
            for(var i in result.data){
               var postHtml    = postTemplate(result.data[i]);

               $("#wall_content").append(postHtml);
            }
            $(".post_time").timeago();
            $(".comment_time").timeago();


         }else{
            //error handling
         }

      }).fail(function(error){
         //request error
      });
}

$( document ).ready(function() {
   update_wall();
   $("#create_post").click(function(){
      var form = $(this).parent();
      var data = form.serialize();
      $.ajax({
         type: form.attr('method'),
         url: form.attr('action'),
         data: data,
      }).done(function(data){

         if(data.success){
            location.reload();
         }else{
            alert("Something went wrong");
         }
      }).fail(function(error){
         console.log(error);
      });
   });

   $(document).on('click', '#comment_post', function(){

      var form = $(this).parent();
      var data = form.serialize();


      $.ajax({
         type: form.attr('method'),
         url: form.attr('action'),
         data: data,
      }).done(function(data){

         if(data.success){
            location.reload();
         }else{
            alert("Something went wrong");
         }
      }).fail(function(error){
         console.log(error);
      });
   });

});

</script>
{% endblock %}
