{% extends "base.html" %}
{% block body %}
{% from "helper/formhelpers.html" import render_input_field%}

<div class="container">
   <div class="col-md-3">

   </div>
   
   <div id="right_col" class="col-md-9">
      <div class="row">
         {% if type == g.user.user_name %}
            My Events
         {% elif type == 'community' %}
            Community Events
         {% endif %}
         <button class="btn btn-primary pull-right" data-toggle="modal" data-target="#createEventModal">Add Event</button>
      </div>
      
      <div class="row" id="event_list">

      </div>
	</div>
</div>

<div class="modal fade" id="createEventModal" tabindex="-1" role="dialog" aria-labelledby="createEventModal" aria-hidden="true">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="myModalLabel">Add New Event</h4>
         </div>
         <div class="modal-body">
            <form id="create_form" action="{{ url_for('calendar.create_event', c_id=community.id) }}"  method=post>
               {{ form.csrf_token }}
               <div class="form-group">
                  <label>Name</label>
                   {{ render_input_field(form.name, "Event name") }}
               </div>
               <div class="form-group">
                  <label>Date</label>
                   {{ render_input_field(form.date, "Date and Time")}}
               </div>
               <div class="form-group">
                  <label>Description</label>
                  {{ render_input_field(form.description, "Group Description") }}
               </div>
            </form>
         </div>
         <div class="modal-footer">
            <button id="create_event" type="button" class="btn btn-primary" type="submit">Create</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
         </div>
      </div><!-- /.modal-content -->
   </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script type=text/javascript>
USER_NAME = '{{type}}';

function update_event_list(){
   if(USER_NAME == 'community'){
      $.get('{{ url_for('calendar.list', c_id=community.id) }}')
       .done(function(data){
         var content = $("#event_list");
         content.empty();
         if(data.data.length == 0){
            content.append(" <h3>No scheduled events yet!</h3>");
            return false;
         }
         var list = $('<ul class="events"></ul>');

         $.each(data.data, function(key, e){
            var c_string = '<li id="event_'+e.id+'">'
                         + e.name;
            c_string +=' </li>';
            list.append(c_string);
         });
         content.append(list);
      });
   }else{
       $.get('{{url_for('calendar.list')}}?get='+USER_NAME)
       .done(function(data){
         var content = $("#event_list");
         content.empty();
         if(data.data.length == 0){
            content.append(" <h3>No scheduled events yet!</h3>");
            return false;
         }
         var list = $('<ul class="events"></ul>');

         $.each(data.data, function(key, e){
            var c_string = '<li id="event_'+e.id+'">'
                         + e.name;
            c_string +=' </li>';
            list.append(c_string);
         });
         content.append(list);
      });     
   }
}

$( document ).ready(function() {
   if(USER_NAME != 'community'){
      $(".btn").css('display', 'none');
   }
   
   update_event_list();

   $("#create_event").click(function(){
      var form = $("#create_form");
      var data = form.serialize();
      $.ajax({
         type: form.attr('method'),
         url: form.attr('action'),
         data: data,
      }).done(function(data){
         //remove errors
         form.find(".form_field").each(function(){
            $(this).removeClass('has-error');
            $(this).find('ul.error_message').empty();
         });

         if(data.success){
            $('#createEventModal').modal('hide');
            update_event_list();
         }else{
            //raise error
            $.each(data.errors, function(field, errors){
               var error_field = $("#"+field);
               error_field.addClass('has-error');
               $.each(errors, function(key, e){
                  error_field.find('ul.error_message').append("<li>"+e+"</li>");
               });
            });
         }
      }).fail(function(error){
         console.log(error);
      });
   });
});
</script>

{% endblock %}