{% extends "base.html" %}
{% block body %}
{% from "helper/formhelpers.html" import render_input_field%}

<div class="container">

   <div class="jumbotron" style="padding:10px;">
      <h2>{{community.name}} ({{community.num_members}} members)</h2>
      <p class="lead">{{community.description}}</p>
   </div>

   <div class="row">


      <div class="col-md-8">
         <div class="col-md-9" id="wall">
            <div>
               <form id="create_form" action="{{ url_for('create_post', c_id=community.id) }}"  method=post>
                  {{ postForm.csrf_token }}
                  {{ render_input_field(postForm.body, "What's up") }}
                  <button id="create_post" class="btn btn-primary" type="button">Post</button>
               </form>

               <hr>
            </div>


            <div id="wall_content">
               {% for p in posts %}
               <div class="post well well-sm" id="{{p.Post.id}}">
                  <div class="post_head">
                     <div class="user_avatar pull-left" ></div>
                     <div class="user_meta pull-right" >
                        <div class="user_name">{{p.first_name | capitalize}} {{p.last_name|capitalize}}</div>
                        <div class="post_time">{{p.Post.created}}</div>
                     </div>
                  </div>
                  <div class="post_body">
                     {{p.Post.body}}
                  </div>
                  <div class="post_action">
                     Like . Comment . Share
                  </div>

                  <div class="post_comments">
                     <form id="comment_form" action="{{ url_for('comment_post', c_id=community.id, p_id=p.Post.id) }}"  method=post>
                        {{ commentForm.csrf_token }}
                        {{ render_input_field(postForm.body, "Write a comment") }}
                        <button id="comment_post" class="btn btn-primary" type="button">Comment</button>
                     </form>

                  </div>

               </div>
               {% endfor %}
            </div>

         </div>


      </div>
   </div>

</div>

<script type=text/javascript>

USER_NAME = '{{type}}';
BASE_COMMUNITY_URL = '{{url_for('community')}}';


$( document ).ready(function() {
   $("#create_post").click(function(){
      var form = $(this).parent();
      var data = form.serialize();
      $.ajax({
         type: form.attr('method'),
         url: form.attr('action'),
         data: data,
      }).done(function(data){
         console.log(data);
         if(data.success){
            location.reload();
         }else{
            alert("Something went wrong");
         }
      }).fail(function(error){
         console.log(error);
      });
   });

   $(document).on('click', '#comment_post', function(){

      var form = $(this).parent();
      var data = form.serialize();

      $.ajax({
         type: form.attr('method'),
         url: form.attr('action'),
         data: data,
      }).done(function(data){

         if(data.success){
            location.reload();
         }else{
            alert("Something went wrong");
         }
      }).fail(function(error){
         console.log(error);
      });
   });

});

</script>
{% endblock %}
