{% extends "layout.html" %}
{% block body %}


<div class="container">
   
<div class="row">
   <div class="col-md-4 col-md-offset-4">
      <hr>
      <h2>Sign Up</h2>
      <h4>It's free and always will be.</h4>
      <hr>
      <form action="{{ url_for('signup') }}" method='post' class="form-horizontal " role="form">
         <div class="form-group">
            <div class="col-xs-6 col-sm-6">
               <input type="text" name='first_name' class="form-control" placeholder="First Name">
            </div>
            <div class="col-xs-6 col-sm-6">
               <input type="text" name='last_name' class="form-control" placeholder="Last Name">
            </div>
         </div>
         <div class="form-group">
            <div class="col-sm-12">
               <input type="text" name='user_name' class="form-control" placeholder="username">
            </div>
         </div>
         <div class="form-group">
            <div class="col-sm-12">
               <input type="email" name='email' class="form-control" placeholder="Your email">
            </div>
         </div>
         <div class="form-group">
            <div class="col-sm-12">
               <input type="email" name='reenter_email' class="form-control" placeholder="Re-enter email">
            </div>
         </div>
         
         <div class="form-group">
            <div class="col-sm-12">
               <input type="password" name='password' class="form-control" placeholder="New Password">
            </div>
         </div>
         <div class="form-group">
            <div class="col-sm-3">
               <label>
                  <input type="radio" name="gender" value="0">
                  Female
               </label>
            </div>
            <div class="col-sm-3">
               <label>
                  <input type="radio" name="gender" value="1">
                  Male
               </label>
            </div>
         </div>
         
         <button class="btn btn-lg btn-primary btn-block" type="submit">Sign up</button>
      </form>
      <hr>
   </div>

</div>

  
</div>

{% endblock %}
