{% extends "base.html" %}
{% block body %}
{% from "_formhelpers.html" import render_input_field%}

<div class="container">

   <div class="col-md-3">
      <h4><a href="{{url_for('community', get='public')}}">Public Communities</a></h4>
      <h4><a href="{{url_for('community', get=g.user.user_name)}}">My Communities</a></h4>
   </div>
   
   <div id="right_col" class="col-md-9">
      <div class="row">
         {% if type == g.user.user_name %}
            My Community
         {% elif type == 'public' %}
            Public Community
         {% else %}
            Someone else's community?
         {% endif %}
         <button class="btn btn-primary pull-right" data-toggle="modal" data-target="#createCommunityModal">Create Community</button>
      </div>
      
      <div class="row" id="community_content">
          <!--
      {% if communities %}
      <ul class="community_items">
         {% for c in communities %}
         <li id="community_{{c.id}}">
            {{ c.name }}
         </li>
         {% endfor %}
      </ul>
      {% else %}
         <h3>You don't belong to any groups! Join or create one :)</h3>
      {% endif %}
      </div>
      !-->
   </div>


</div>

<div class="modal fade" id="createCommunityModal" tabindex="-1" role="dialog" aria-labelledby="createCommunityModal" aria-hidden="true">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="myModalLabel">Create New Community</h4>
         </div>
         <div class="modal-body">
            <form id="create_form" action="{{ url_for('create_community') }}"  method=post>
               {{ form.csrf_token }}
               <div class="form-group">
                  <label>Name</label>
                   {{ render_input_field(form.name, "Group name") }}
               </div>
               <div class="form-group">
                  <label>description</label>
                  {{ render_input_field(form.description, "Group Description") }}
               </div>
            </form>
         </div>
         <div class="modal-footer">
            <button id="create_community" type="button" class="btn btn-primary" type="submit">Create</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
         </div>
      </div><!-- /.modal-content -->
   </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script type=text/javascript>

USER_NAME = '{{type}}';

function refresh_community_list(){
   $.get('{{url_for('community_list')}}?get='+USER_NAME)
      .done(function(data){
         var content = $("#community_content");
         content.empty();
         if(data.data.length == 0){
            content.append(" <h3>You don't belong to any groups! Join or create one :)</h3>");
            return false;
         }
         var list = $('<ul class="community_items"></ul>');

         $.each(data.data, function(key, c){
            var c_string = '<li id="community_'+c.id+'">'
                         + c.name+ ' ('+c.num_members+')';
            if(!c.is_member){

            }
            c_string += '<button class="join_community btn btn-info pull-right" >Join</button>';
            c_string +=' </li>';
            list.append(c_string);
         });



         content.append(list);
      });
}

function join_community(id){
   $.ajax({
      type: 'POST',
      url: '{{url_for('join_community')}}',
      data: {id: id},
   }).done(function(data){
      console.log(data);
   });

}

$( document ).ready(function() {
   $(document).on('click','.join_community', function(){
      var id = $(this).parent().attr('id').split("_")[1];
      join_community(id);
   });

   refresh_community_list();

   $("#create_community").click(function(){
      var form = $("#create_form");
      var data = form.serialize();
      $.ajax({
         type: form.attr('method'),
         url: form.attr('action'),
         data: data,
      }).done(function(data){
         //remove errors
         form.find(".form_field").each(function(){
            $(this).removeClass('has-error');
            $(this).find('ul.error_message').empty();
         });

         if(data.success){
            $('#createCommunityModal').modal('hide');
            //refresh community list
            refresh_community_list();
         }else{
            //raise error
            $.each(data.errors, function(field, errors){
               var error_field = $("#"+field);
               error_field.addClass('has-error');
               $.each(errors, function(key, e){
                  error_field.find('ul.error_message').append("<li>"+e+"</li>");
               });
            });
         }
      }).fail(function(error){
         console.log(error);
      });
   });


});

</script>
{% endblock %}
